#intro{
    padding-top: 200px;
}

#player, #dealer, #actions, #stats {
    padding-top: 25px;
}
.pokerTable {
    background-image: url(../img/table.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
body {
    color: white;
    height: 100%;
}
.playingCards .card {
    font-size: 3em;
}
#deck .playingCards .card, #discard .playingCards .card {
    font-size: 2em;
}
#deck h2, #discard h2 {
    padding-bottom: 50px;
}

.score {
    display: block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 2em;
    margin-top: -1em;
    border: solid 2px;
    z-index: 2;
}

.bet {
    margin-top: 20px;
}

/** chip CSS from https://codepen.io/yakovd33/pen/jbbbPM */
.chip {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px dashed white;
    transition: all 1s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0px 8px;
    background-color: #073d91;
}

.chip-amount {
    border: 3px dashed white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
}
.stacked {
    margin-left: -90px;
}

/** Card animations and transitions - https://vuejs.org/v2/guide/transitions.html */
.slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    /* transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0); */
    transition: all .3s ease;
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }

  .player-stat {
      margin-left: 10px;
  }
  
  .btn {
      margin-left: 5px;
  }